<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="Form.css">


    <title>Cadastro</title>
</head>

<body>


<div>
    <h1 id="titulo">Cadastro de Cargo</h1>
    <p id="subtitulo">Complete suas informações</p>
    <br>
</div>


<form>

    <fieldset class="grupo">

        <div class="campo">
            <label for="nickname"><strong>Nickname</strong></label>
            <input type="text" name="nickname" id="nickname" required>
        </div>


        <div class="campo">
            <label for="id"><strong>Id</strong></label>
            <input type="text" name="id" id="id" required>
        </div>
    </fieldset>

    <div class="campo">
        <label><strong>Qual horário preferivelmente você programa?</strong></label>
        <label>
            <input type="radio" name="devweb" value="Manha" checked>Manhã
        </label>
        <label>
            <input type="radio" name="devweb" value="Tarde">Tarde
        </label>
        <label>
            <input type="radio" name="devweb" value="Noon">Meio-Cargo(Trabalham em curto período, mas sua responsabilidade responder tudo na hora)
        </label>
    </div>


    <div class="campo">
        <label for="senioridade"><strong>Nivel de experiência</strong></label>
        <select name="senioridade" id="senioridade" required>
            <option selected disabled value="">Selecione</option>
            <option>Novato</option>
            <option>Experiente</option>
            <option>Mestre</option>
        </select>
    </div>

    <fieldset class="grupo">

        <div id="check">
            <label><strong>Selecione as tecnologias que utiliza:</strong></label><br><br>
            <input type="checkbox" id="tecnologia1" name="tecnologia1" value="Developer de Bots">
            <label for="tecnologia1"> Developer de Bots</label>
            <input type="checkbox" id="tecnologia2" name="tecnologia2" value="Jornalista">
            <label for="tecnologia2"> Jornalista</label>
            <input type="checkbox" id="tecnologia3" name="tecnologia3" value="Administrador de dados(EXCEL)">
            <label for="tecnologia3"> Administrador de dados(EXCEL)</label>
            <input type="checkbox" id="tecnologia4" name="tecnologia4" value="Administrador de denúncias">
            <label for="tecnologia4"> Administrador de denúncias</label>
            <input type="checkbox" id="tecnologia5" name="tecnologia5" value="Comunicador">
            <label for="tecnologia5"> Comunicador</label>
            <input type="checkbox" id="tecnologia6" name="tecnologia6" value="Desenvolvedor de dados">
            <label for="tecnologia6"> Desenvolvedor de dados</label>
            <input type="checkbox" id="tecnologia7" name="tecnologia7" value="Moderador de estatísticas">
            <label for="tecnologia7"> Moderador de estatísticas</label>
        </div>
    </fieldset>


    <div class="campo">
        <br>
        <label for="experiencia"><strong>Conte um pouco mais da sua experiência: </strong></label>
        <textarea rows="6" style="width: 26em" id="experiencia" name="experiencia"></textarea>
    </div>


    <button class="botao" type="submit" onsubmit="">Concluído</button>

</form>
</body>
</html>
